<!DOCTYPE html>
<html>

<head>
    <title>Results</title>
</head>

<body>
    <h1>Here is the answer:</h1>
    <p>When you
        <strong><%= operation %></strong>
        <strong><%= left %></strong> and
        <strong><%= right %></strong> the result is:
        <strong><%= result %></strong>
    </p>
</body>

</html>